body {
  background-color: rgb(241, 241, 241);
  padding: 10px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: rgb(16, 123, 211);
}

a:hover {
  text-decoration: none;
  color: rgb(109, 109, 109);
}

.title {
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
}

.list {
  background-color: white;
  border: solid 1px black;
  border-radius: 2px;
}

.info {
  position: fixed;
  bottom: 0;
}