body {
  background-color: rgb(230, 230, 230);
  padding: 10px;
  font-family: sans-serif;
}

.title {
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
}

.list {
  background-color: white;
  border: solid 1px black;
  border-radius: 2px;
}

.info {
  position: fixed;
  bottom: 0;
}